body,
html {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: "Aleo", serif; }

.navbar-custom {
  background-image: linear-gradient(#303c6c, #8860d0); }

/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
  color: #fff;
  font-size: 2vw;
  font-weight: 800;
  letter-spacing: 3px; }

/* change the link color */
.navbar-custom .navbar-nav .nav-link {
  color: #fff;
  font-size: 1.5vw; }

/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:hover .nav-link {
  color: #fff; }

/* for dropdown only - change the color of droodown */
.navbar-custom .dropdown-menu {
  background-color: #8860d0; }

.navbar-custom .dropdown-item {
  color: #ffffff; }

.navbar-custom .dropdown-item:hover,
.navbar-custom .dropdown-item:focus {
  color: #191919;
  background-color: #5ab9ea; }

.header {
  background-image: url("../images/background.png");
  height: 700px;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-top: 80px;
  margin-bottom: 0px; }
  .header .left-header .left-header-image {
    animation: movingImage 5s ease-out infinite;
    margin-top: 40px;
    max-width: 100%;
    height: auto; }
  .header .right-header .right-header-content {
    margin-top: 85px; }
    .header .right-header .right-header-content .heading {
      font-size: 5vw;
      font-weight: 600;
      text-transform: uppercase;
      line-height: 1.5em;
      letter-spacing: 2px;
      text-shadow: 0px 4px rgba(0, 0, 0, 0.5);
      color: #fff; }
      .header .right-header .right-header-content .heading .solutions {
        color: #d1d8ec;
        font-weight: 900;
        animation: movingtext 4s ease-out; }
  .header .buttons {
    font-size: 1vw;
    padding: 17px 25px;
    margin: 0px;
    border-radius: 50px;
    border: none;
    background-image: linear-gradient(#5680e9, #374785);
    box-shadow: 0px 0px 12px -2px rgba(0, 0, 0, 0.5);
    line-height: 1.25;
    letter-spacing: 0.08em;
    text-transform: uppercase; }

@keyframes movingImage {
  50% {
    transform: translate(0, 20px); } }

@keyframes movingtext {
  0% {
    opacity: 0;
    transform: translate(-100px); }
  100% {
    opacity: 1;
    transform: translate(0); } }

.border {
  border: none;
  outline: none; }
  .border .border-heading {
    outline: none;
    font-size: 3.5vw;
    font-weight: 500;
    text-align: center;
    color: #303c6c;
    padding: 50px 0px;
    text-transform: uppercase; }

.box-section {
  background-color: #d1d8ec; }

.box-container {
  margin: 0px 50px; }

.box {
  background-color: white;
  height: auto;
  margin-top: 50px;
  margin-bottom: 50px; }
  .box .image {
    margin-top: 10px; }
    .box .image .img {
      height: 200px;
      width: auto;
      max-width: 100%;
      margin-bottom: 10px; }
    .box .image .box-heading {
      text-align: center;
      text-transform: uppercase;
      color: #ef5350;
      font-size: 25px;
      font-weight: 600; }
  .box .box-content .para {
    text-align: center;
    padding: 5%;
    color: grey; }
  .box .box-content .btn {
    width: 100%;
    background-color: #374785;
    outline: none;
    border: none;
    font-size: 20px;
    padding: 4%; }

.techno {
  height: 600px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background-color: #8860d0; }
  .techno .container-tech {
    background-color: #d1d8ec;
    margin: 50px 50px;
    border-radius: 50px; }
    .techno .container-tech .tech-heading {
      text-align: center;
      color: #ef5350;
      margin-top: 55px;
      margin-bottom: 55px;
      font-size: 40px;
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 3px; }
    .techno .container-tech .ul-tech {
      list-style-type: none;
      margin-left: 40px; }
      .techno .container-tech .ul-tech .li-tech {
        font-size: 25px;
        padding-bottom: 25px;
        text-transform: uppercase;
        letter-spacing: 1.5px;
        color: #303c6c; }
    .techno .container-tech .tech-image .tech-img {
      height: 500px; }

.form-heading {
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
  font-weight: 700;
  color: #ef5350;
  letter-spacing: 8px; }

.form-style-9 {
  width: 80vw;
  max-width: 100%;
  background: #d1d8ec;
  padding: 30px;
  margin: 50px auto;
  box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.35);
  border-radius: 10px;
  border: 6px solid #303c6c;
  font-size: 20px; }

.form-style-9 ul {
  padding: 0;
  margin: 0;
  list-style: none; }

.form-style-9 ul li {
  display: block;
  margin-bottom: 10px;
  min-height: 35px;
  padding: 25px; }

.form-style-9 ul li .field-style {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 8px;
  outline: none;
  border: 1px solid #b0cfe0;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out; }

.form-style-9 ul li .field-style:focus {
  box-shadow: 0 0 5px #b0cfe0;
  border: 1px solid #b0cfe0; }

.form-style-9 ul li .field-split {
  width: 49%; }

.form-style-9 ul li .field-full {
  width: 100%; }

.form-style-9 ul li input.align-left {
  float: left; }

.form-style-9 ul li input.align-right {
  float: right; }

.form-style-9 ul li textarea {
  width: 100%;
  height: 100px; }

.form-style-9 ul li input[type="button"],
.form-style-9 ul li input[type="submit"] {
  -moz-box-shadow: inset 0px 1px 0px 0px #3985b1;
  -webkit-box-shadow: inset 0px 1px 0px 0px #3985b1;
  box-shadow: inset 0px 1px 0px 0px #3985b1;
  background-color: #8860d0;
  border: 1px solid #8860d0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  padding: 8px 18px;
  text-decoration: none;
  font-size: 20px;
  border-radius: 50px; }

.form-style-9 ul li input[type="button"]:hover,
.form-style-9 ul li input[type="submit"]:hover {
  background: linear-gradient(to bottom, #2d77a2 5%, #337da8 100%);
  background-color: #303c6c; }

@media (max-width: 480px) {
  .navbar-custom {
    background-image: linear-gradient(#303c6c, #8860d0); }
  /* change the brand and text color */
  .navbar-custom .navbar-brand,
  .navbar-custom .navbar-text {
    color: #fff;
    font-size: 6vw;
    font-weight: 800;
    letter-spacing: 3px; }
  /* change the link color */
  .navbar-custom .navbar-nav .nav-link {
    color: #fff;
    font-size: 5vw; }
  .header {
    background-image: url("../images/techbg.png");
    margin-top: -10px;
    margin-bottom: 0px; }
    .header .left-header .left-header-image {
      animation: movingImage 5s ease-out infinite;
      margin-top: 40px;
      max-width: 100%;
      height: auto; }
    .header .right-header .right-header-content {
      margin-top: 30px; }
      .header .right-header .right-header-content .heading {
        text-align: center;
        font-size: 10vw; }
    .header .buttons {
      font-size: 4vw;
      padding: 17px 25px;
      margin: 20px 80px; }
  .border .border-heading {
    outline: none;
    font-size: 7vw;
    padding: 30px 0px; }
  .box {
    background-color: #fff; }
    .box .image {
      margin-top: 10px; }
      .box .image .img {
        height: 150px;
        width: auto; }
      .box .image .box-heading {
        text-align: center;
        font-size: 20px;
        font-weight: 600; }
    .box .box-content .para {
      text-align: center;
      padding: 1%;
      color: grey;
      font-size: 15px; }
    .box .box-content .btn {
      font-size: 25px;
      padding: 4%; }
  .techno {
    height: auto;
    background-color: #8860d0; }
    .techno .container-tech {
      background-color: #d1d8ec;
      margin: 25px 25px;
      border-radius: 1px; }
      .techno .container-tech .tech-heading {
        margin-top: 40px;
        margin-bottom: 40px;
        font-size: 24px;
        letter-spacing: 5px;
        line-height: 50px; }
      .techno .container-tech .ul-tech {
        list-style-type: none; }
        .techno .container-tech .ul-tech .li-tech {
          text-align: left;
          font-size: 20px;
          padding-bottom: 10px;
          text-transform: uppercase;
          letter-spacing: 1.7px; }
      .techno .container-tech .tech-image .tech-img {
        height: 200px;
        max-width: 100%; }
  .form-heading {
    text-align: center;
    text-transform: uppercase;
    font-size: 32px;
    margin-top: 30px;
    letter-spacing: 10px; }
  .form-style-9 {
    width: 90vw;
    max-width: 100%;
    padding: 0px;
    border-radius: 5px;
    border: 6px solid #303c6c;
    font-size: 15px; }
  .form-style-9 ul {
    padding: 0px;
    margin: 0;
    list-style: none; }
  .form-style-9 ul li {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    min-height: 45px;
    padding: 10px;
    width: 100%; }
  .form-style-9 ul li .field-style {
    box-sizing: content-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding: 8px;
    outline: none;
    border: 1px solid #b0cfe0;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out; }
  .form-style-9 ul li .field-style:focus {
    box-shadow: 0 0 5px #b0cfe0;
    border: 1px solid #b0cfe0; }
  .form-style-9 ul li .field-split {
    width: 100%;
    margin-bottom: 15px; }
  .form-style-9 ul li .field-full {
    width: 100%; }
  .form-style-9 ul li input.align-left {
    float: left; }
  .form-style-9 ul li input.align-right {
    float: right; }
  .form-style-9 ul li textarea {
    width: 100%;
    height: 100px; }
  .form-style-9 ul li input[type="button"],
  .form-style-9 ul li input[type="submit"] {
    -moz-box-shadow: inset 0px 1px 0px 0px #3985b1;
    -webkit-box-shadow: inset 0px 1px 0px 0px #3985b1;
    box-shadow: inset 0px 1px 0px 0px #3985b1;
    background-color: #8860d0;
    border: 1px solid #8860d0;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    padding: 8px 18px;
    text-decoration: none;
    font-size: 20px;
    border-radius: 50px; }
  .form-style-9 ul li input[type="button"]:hover,
  .form-style-9 ul li input[type="submit"]:hover {
    background: linear-gradient(to bottom, #2d77a2 5%, #337da8 100%);
    background-color: #303c6c; } }

.site-footer {
  background-color: #303c6c;
  padding: 45px 0 20px;
  font-size: 15px;
  line-height: 24px;
  color: #fff; }

.site-footer hr {
  border-top-color: #d1d8ec;
  opacity: 0.5; }

.site-footer hr.small {
  margin: 20px 0; }

.site-footer h6 {
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px; }

.site-footer a {
  color: #d1d8ec; }

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links {
  padding-left: 0;
  list-style: none; }

.footer-links li {
  display: block;
  font-size: 18px; }

.footer-links a {
  color: #d1d8ec; }

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none; }

.footer-links.inline li {
  display: inline-block; }

.site-footer .social-icons {
  text-align: right; }

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #33353d; }

.copyright-text {
  margin: 0; }

@media (max-width: 991px) {
  .site-footer [class^="col-"] {
    margin-bottom: 30px; } }

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0; }
  .site-footer .copyright-text,
  .site-footer .social-icons {
    text-align: center; } }

.social-icons {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.social-icons li {
  display: inline-block;
  margin-bottom: 4px; }

.social-icons li.title {
  margin-right: 15px;
  text-transform: uppercase;
  color: #96a2b2;
  font-weight: 700;
  font-size: 13px; }

.social-icons a {
  background-color: #eceeef;
  color: #818a91;
  font-size: 16px;
  display: inline-block;
  line-height: 44px;
  width: 44px;
  height: 44px;
  text-align: center;
  margin-right: 8px;
  border-radius: 100%;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.social-icons a:active,
.social-icons a:focus,
.social-icons a:hover {
  color: #fff;
  background-color: #29aafe; }

.social-icons.size-sm a {
  line-height: 34px;
  height: 34px;
  width: 34px;
  font-size: 14px; }

.social-icons a.facebook:hover {
  background-color: #3b5998; }

.social-icons a.twitter:hover {
  background-color: #00aced; }

.social-icons a.linkedin:hover {
  background-color: #007bb6; }

.social-icons a.dribbble:hover {
  background-color: #ea4c89; }

@media (max-width: 767px) {
  .social-icons li.title {
    display: block;
    margin-right: 0;
    font-weight: 600; } }
